#main-contacto .formulario-contacto form button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FuenteTitulo";
  src: url(../font/Revalia-Regular.ttf);
}
body {
  background-color: #161411;
  font-family: "Raleway", sans-serif;
}

header {
  background-image: url(../images/cuerdas-guitarra-980x478.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px solid rgb(77, 23, 23);
  position: fixed;
  z-index: 1000;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    background-position: center;
    height: 9rem;
  }
}

main {
  min-height: 100vh;
  padding-top: 150px;
}
main .presentacion {
  padding: 3rem;
}
main .presentacion p {
  color: rgb(123, 170, 155);
  padding: 1.5rem;
  font-size: 25px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .presentacion p {
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  main .presentacion p {
    font-size: 1rem;
    padding: 1rem;
  }
}
main .presentacion h1 {
  color: antiquewhite;
  font-family: "FuenteTitulo";
  font-size: 45px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  main .presentacion h1 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  main .presentacion h1 {
    font-size: 1.8rem;
  }
}
main .contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 1023px) {
  main .contenido {
    flex-direction: column;
    align-items: center;
  }
}
main .contenido .container-texto,
main .contenido .container-video {
  flex: 1;
  min-width: 300px;
}
@media (max-width: 1023px) {
  main .contenido .container-texto,
  main .contenido .container-video {
    width: 100%;
    text-align: center;
  }
}
main .contenido .container-video {
  aspect-ratio: 16/9;
  height: 100%;
}
main .contenido .container-video .video-presentacion {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

footer {
  background-color: rgb(39, 38, 36);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "logo info mapa" "copyright copyright copyright";
  gap: 1rem;
  align-items: center;
  color: antiquewhite;
  border-top: 3px solid rgb(77, 23, 23);
}
footer .logo-footer {
  grid-area: logo;
  width: 100px;
  border-radius: 100px;
  border: 2px solid #161411;
  justify-self: center;
}
footer #maps {
  grid-area: mapa;
  width: 75%;
  height: 150px;
  border-radius: 10px;
}
footer .info-footer {
  grid-area: info;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}
footer .info-footer h2 {
  font-size: 18px;
  margin-bottom: 0.5rem;
}
footer .info-footer ul {
  list-style: none;
  padding: 0;
}
footer .info-footer a,
footer .info-footer li {
  font-size: 16px;
  color: antiquewhite;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
footer .info-footer .ti {
  font-size: 1.5rem;
  color: rgb(228, 163, 66);
}
footer .copyright {
  grid-area: copyright;
  font-size: 0.8rem;
  justify-self: center;
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo info mapa" "copyright copyright copyright";
    gap: 1rem;
    align-items: center;
  }
  footer .logo-footer {
    width: 100px;
  }
  footer .info-footer {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
  }
  footer #maps {
    width: 75%;
    height: 150px;
  }
  footer .copyright {
    justify-self: center;
    margin-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  footer .logo-footer {
    width: 80px;
  }
  footer .info-footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer #maps {
    width: 90%;
    height: 180px;
  }
  footer .copyright {
    justify-self: center;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  footer .logo-footer {
    width: 80px;
  }
  footer .info-footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer #maps {
    width: 90%;
    height: 180px;
  }
  footer .copyright {
    margin-top: 1rem;
    justify-self: center;
  }
}

.info-sobre-mi {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0;
  padding: 3rem;
}
.info-sobre-mi .sobre-mi {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.info-sobre-mi .sobre-mi p {
  color: rgb(123, 170, 155);
  padding: 1.5rem;
  font-size: 22px;
}
.info-sobre-mi .formacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: nowrap;
  flex-wrap: 1rem;
  gap: 0;
  margin: 50px 0 0 0;
}
@media (max-width: 768px) {
  .info-sobre-mi .formacion {
    flex-direction: column;
    margin: 1rem 0;
  }
}
.info-sobre-mi .formacion .estudios,
.info-sobre-mi .formacion .aprendizaje {
  flex: 1;
  background-color: #26221c;
  padding: 1rem;
  border-radius: 10px;
  color: antiquewhite;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.info-sobre-mi .formacion .estudios p,
.info-sobre-mi .formacion .aprendizaje p {
  margin-right: 80px;
}
@media (max-width: 768px) {
  .info-sobre-mi .formacion .estudios p,
  .info-sobre-mi .formacion .aprendizaje p {
    margin-right: 0;
  }
}
.info-sobre-mi h1 {
  color: antiquewhite;
}
.info-sobre-mi .formacion h2 {
  font-family: "FuenteTitulo";
  color: rgb(243, 225, 202);
  text-decoration: underline;
}
.info-sobre-mi .imagen-sobre-mi {
  flex: 1;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 700px;
  padding: 1rem;
}
.info-sobre-mi .imagen-sobre-mi img {
  border-radius: 2rem;
}
@media (max-width: 768px) {
  .info-sobre-mi .imagen-sobre-mi img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .info-sobre-mi .imagen-sobre-mi {
    order: -1;
    height: auto;
    margin-bottom: 2rem;
  }
}

.titulos-productos {
  margin: 3rem;
}

#productos h1 {
  color: antiquewhite;
  margin-bottom: 1rem;
}
#productos h2 {
  color: rgb(123, 170, 155);
}
#productos .grilla-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
#productos .producto {
  background-color: #26221c;
  padding: 1rem;
  border-radius: 10px;
  color: antiquewhite;
  text-align: left;
}
#productos .producto img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#productos .producto h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
#productos .producto p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(123, 170, 155);
}

#servicios {
  padding: 3rem;
}
#servicios h1 {
  color: antiquewhite;
  margin-bottom: 0.5rem;
}
#servicios h2 {
  color: rgb(123, 170, 155);
  font-size: 1.5rem;
  margin-left: 1rem;
}
#servicios .grilla-servicios {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}
#servicios .servicio {
  background-color: #26221c;
  padding: 1rem;
  border-radius: 10px;
  color: antiquewhite;
  text-align: left;
}
#servicios .servicio img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#servicios .servicio h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: antiquewhite;
}
#servicios .servicio p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: rgb(123, 170, 155);
}

#main-contacto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
}
@media (max-width: 1024px) {
  #main-contacto {
    flex-direction: column;
    align-items: center;
  }
}
#main-contacto .info-contacto {
  display: grid;
  flex: 1;
  margin: 2rem;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}
#main-contacto .info-contacto h1 {
  color: antiquewhite;
  font-size: 6rem;
  margin-bottom: 80px;
}
#main-contacto .info-contacto p {
  color: rgb(123, 170, 155);
  padding: 1rem;
  font-size: 2rem;
}
@media (max-width: 767px) {
  #main-contacto .info-contacto {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  #main-contacto .info-contacto {
    width: 100%;
    padding: 1rem;
  }
}
#main-contacto .formulario-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  flex: 1;
  margin: 2rem;
  padding: 2rem;
}
#main-contacto .formulario-contacto form {
  display: grid;
  color: rgb(123, 170, 155);
  margin: 1rem;
  padding: 1rem;
  gap: 2rem;
}
#main-contacto .formulario-contacto form button {
  background-color: rgb(228, 163, 66);
  color: #161411;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
#main-contacto .formulario-contacto form button:hover {
  background-color: rgb(243, 199, 123);
}
#main-contacto .formulario-contacto form .fila-formulario {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3rem;
}
@media (max-width: 570px) {
  #main-contacto .formulario-contacto form .fila-formulario {
    flex-direction: column;
    gap: 1rem;
  }
}
#main-contacto .formulario-contacto form .campos {
  display: grid;
  gap: 1rem;
  font-size: 18px;
  /* Agregado para que los campos ocupen 100% en responsive */
}
@media (max-width: 1024px) {
  #main-contacto .formulario-contacto form .campos {
    width: 100%;
  }
}
#main-contacto .formulario-contacto form .campos input,
#main-contacto .formulario-contacto form .campos textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 1rem;
  transition: border-color 0.3s;
}
#main-contacto .formulario-contacto form .campos input:focus,
#main-contacto .formulario-contacto form .campos textarea:focus {
  border-color: #b67b4b;
  outline: none;
}
@media (max-width: 1024px) {
  #main-contacto .formulario-contacto {
    width: 100%;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
